.content-block {
    padding: 6em 7.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-header-container {
    display: flex;
    flex-direction: column;
    gap: var(--2sm);
    margin-bottom: var(--2md);
}

/* SECTION HEADER ALIGNMENT  */

.section-header-container.left {
    display: flex;
    text-align: left;
    align-items: start;
    width: 100%;
}

.section-header-container.center {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
}

.section-header-container.right {
    display: flex;
    text-align: right;
    align-items: end;
    width: 100%;
}

/* SECTION HEADER SIZES  */

.section-header-container h2.extraSmall, p.extraSmall {
    max-width: 560px;
}

.section-header-container h2.small, p.small {
    max-width: 588px;
}

.section-header-container h2.standard, p.standard {
    max-width: 791px;
}

.section-header-container h2.large, p.large {
    max-width: 860px;
}

.section-header-container h2.fullWidth, p.fullWidth {
    max-width: 1200px;
}

.content-block.green {
    background-color: var(--osc-green-01);
}

.content-block.green .section-header-container {
    color: var(--osc-green-07);
}

.content-block.white {
    background-color: var(--white);
}

.content-block.white .section-header-container {
    color: var(--gray-06);
}

.content-block.blue {
    background-color: var(--gray-01);
}

.content-block.blue .section-header-container {
    color: var(--gray-06);
}

h2.left, p.left {
    text-align: left;
}

h2.center, p.center {
    text-align: center;
}

h2.right, p.right {
    text-align: right;
}

/* ROWS AND COLUMNS  */

.row a {
    color: var(--osc-brand-color);
    text-decoration: underline;
}

.columns {
    display: flex;
    width: 100%;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column.full {
  gap: var(--3md);
}

.column.small {
    max-width: 276px;
    padding: var(--4md);
    gap: var(--sm);
}

.row {
    display: flex;
    justify-content: center;
}

.row .edgesGap {
  height: 100%;
  flex-grow: 1;
}

.row._1 {
    max-width: 791px;
}

.row.full-width {
    max-width: 1200px;
}

/* TO DO: get rid of button alignment class if we never use it  */
.button-spacing {
    display: flex;
    gap: var(--3sm);
    flex-wrap: wrap;
    justify-content: center;
}

.button-spacing.extra-wide-spacing {
    gap: var(--2sm) var(--2lg);
}

/* IMAGE CSS  */

.image-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper.with-overlay::before {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 2px;
}

.image-wrapper img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center center; 
  }

  /* TEXT CSS  */

  div.oblongCircle {
    display: flex;
    padding:  var(--4md);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--4sm);
    border-radius: 100px;
    min-width: 48px;
  }

  div.brandGreen {
    background-color: var(--osc-brand-color);
  }

  p.brandGreen {
    color: var(--osc-brand-color);
  }

  p.white {
    color: var(--white);
  }

  p.gray {
    color: var(--gray-06);
  }

  p.mediumGray {
    color: var(--gray-05);
  }

  p.lightGray {
    color: var(--gray-04);
  }

 p.mediumGreen {
    color: var(--osc-green-06);
  }

  p.bodyText {
    color: var(--body-text);
  }

  p.darkGreen {
    color: var(--osc-green-07);
  }

  /* MEDIA CARD  */

  .media-card-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 384px;
  }

  div.media-card-container {
    margin: 0 12px; 
    }

  .media-card-text {
    display: flex;
    flex-direction: column;
    margin-top: var(--2sm);
    gap: var(--3sm);
  }

  .media-card-text h5 {
    color: var(--gray-06);
  }

  .media-card-text p {
    color: var(--gray-05);
  }

  .media-card-text button {
    font-weight: 450;
    line-height: 16px;
    letter-spacing: 0.75px;
    font-size: 15px;
    text-align: left;
    padding: 0;
  }

  /* REVIEW BLOCK CONTAINER  */

  .review-block-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    gap: var(--md);
  }

  .review-block-container .left-block{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    max-width: 588px;
  }

  .review-block-container .right-block{
    text-align: left;
    max-width: 588px;
  }

  .left-block p {
    max-width: 384px;
    margin-top: 12px;
    margin-bottom: var(--2sm);
  }

  .left-block h2 {
    max-width: 570px;
  }
    
  .review-button-container {
    display: flex;
    flex-direction: column;
  }
  
  .review-button-container h5 {
    margin-top: 0.75em;
    margin-bottom: 1.5em;
    width: 19.2em;
  }
  
  .right-block {
    width: 35em;
    position: relative;
    margin-left: 2em;
  }
  
  .testimonial-block {
    background-color: var(--gray-01);
    height: 100%;
  }
  
  #testimonial {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2.5em;
  }
  
  .testimonial {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  #testimonial p.review {
    color: var(--gray-06);
    margin-bottom: 1.5em;
    max-height: 15em;
    overflow: auto;
    margin-top: 1.5em;
  }
  
  #testimonial p.reviewName {
    font-family: 'Apertura, Regular';
    font-size: 1.25em;
    font-weight: 450;
    line-height: 140%;
    color: var(--black);
  }
  
  #testimonial p.allCaps {
    color: var(--gray-04);
  }
  
  .arrows {
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: -2em;
    right: 2em;
    justify-content: space-between;
  }

  .arrows svg {
    width: 24px;
    height: 24px;
  }
  
  button.back-arrow {
    background-color: var(--white);
    width: 3.5em;
    height: 3.5em;
    margin-right: 1em;
  }
  
  button.front-arrow {
    background-color: var(--osc-brand-color);
    border-color: var(--osc-brand-color);
    width: 3.5em;
    height: 3.5em;
  }

  /* ACCOLADES  */

  .image-wrapper.brand {
    height: 45px;
    padding: var(--3sm) var(--4md) 0 var(--4md);
  }

  .image-wrapper.brand img {
    object-fit: contain;
  }

  .accolades-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }