.content-block {
    padding: 6em 7.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-header-container {
    display: flex;
    flex-direction: column;
    gap: var(--2sm);
    margin-bottom: var(--2md);
}

/* SECTION HEADER ALIGNMENT  */

.section-header-container.left {
    display: flex;
    text-align: left;
    align-items: start;
    width: 100%;
}

.section-header-container.center {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
}

.section-header-container.right {
    display: flex;
    text-align: right;
    align-items: end;
    width: 100%;
}

/* SECTION HEADER SIZES  */

.section-header-container h2.extraSmall, p.extraSmall {
    max-width: 560px;
}

.section-header-container h2.small, p.small {
    max-width: 588px;
}

.section-header-container h2.standard, p.standard {
    max-width: 791px;
}

.section-header-container h2.large, p.large {
    max-width: 860px;
}

.section-header-container h2.fullWidth, p.fullWidth {
    max-width: 1200px;
}



.content-block.green {
    background-color: var(--osc-green-01);
}

.content-block.green .section-header-container {
    color: var(--green-06);
}

.content-block.white {
    background-color: var(--white);
}

.content-block.white .section-header-container {
    color: var(--gray-06);
}

.content-block.blue {
    background-color: var(--gray-01);
}

.content-block.blue .section-header-container {
    color: var(--gray-06);
}

h2.left, p.left {
    text-align: left;
}

h2.center, p.center {
    text-align: center;
}

h2.right, p.right {
    text-align: right;
}

.row a {
    color: var(--osc-brand-color);
    text-decoration: underline;
}


.columns {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--3md);
}

.row {
    display: flex;
    justify-content: center;
}

.row._1 {
    max-width: 791px;
}

.row.full-width {
    max-width: 1200px;
}

/* TO DO: get rid of button alignment class if we never use it  */
.button-spacing {
    display: flex;
    gap: var(--3sm);
    flex-wrap: wrap;
    justify-content: center;
}

.button-spacing.extra-wide-spacing {
    gap: var(--2sm) var(--2lg);
}

/* IMAGE CSS  */

.image-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center center; 
  }
