.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Override default styling and force the text to be on one line  */
.hero-container .hero-text.one-line {
    max-width: 90%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: var(--3sm);
}

/* VIDEO HERO  */
/* TO DO: get rid of background color once I add in the video poster!  */
.video {
    height: 824px;
    background-color: hotpink;
    color: var(--white);
}

.video .hero-text {
    max-width: 52.5em;
}

/* GENERAL HERO */

.general .hero-text {
    max-width: 40em;
}

.general.short {
    height: 29.5em;
}

.general.tall {
    height: 40.625em;
}

.green {
    background-color: var(--osc-brand-color);
    color: var(--white);
}

