.navbar-container {
    position: fixed;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0 3.75em;
    width: 100%;
    max-width: 1440px;
    max-height: 72px;
}

.navbar a {
    color: var(--white);
    transition: color 0.5s ease-in-out;
}

.navbar-container.color {
    background-color: var(--white);
    color: var(--gray-06);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.navbar-container.color a {
    color: var(--gray-06);
}

.menu-items {
    display: flex;
    align-items: center;
    gap: var(--3sm);
}

.menu-item {
    display: block;
    text-align: left;
    position: relative;
}

.menu-item-label {
    display: flex;
    gap: var(--4sm) * 0.5;
    align-items: center;
}

.drop-downs {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    background-color: var(--white);
    top: 100%;
    width: 8em;
}

ul {
    padding: 0;
}

p#drop-down {
    color: var(--gray-06);
    text-align: left;
    padding:  var(--4sm) var(--3sm);
}

.nav-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 82.835px;
    height: 32.201px;
    margin-right: var(--4sm);
}
  
.nav-image-container img {
    flex-shrink: 0;
    width: 100%;
  }

button.nav-button {
    /* padding: 0.8em 0.8em; */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.navbar-container button.nav-button.lowContrast.home {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.navbar-container.color button.nav-button.lowContrast.home {
    background-color: transparent;
    border-color: var(--gray-06);
    color: var(--gray-06);
}

.navbar-container button.nav-button.highContrast.home {
    background-color: var(--osc-brand-color);
    border-color: var(--osc-brand-color);
    color: var(--white);
}

.navbar-container button.nav-button.lowContrast.notHome {
    background-color: transparent;
    border-color: var(--white);
    color: var(--white);
}

.navbar-container button.nav-button.highContrast.notHome {
    background-color: var(--white);
    border-color: var(--osc-brand-color);
    color: var(--osc-brand-color);
}

.navbar-container.color button.nav-button.lowContrast.notHome {
    background-color: white;
    border-color: var(--gray-06);
    color: var(--gray-06);
}

.navbar-container.color button.nav-button.highContrast.notHome {
    background-color: var(--osc-brand-color);
    color: var(--white);
}

svg#downcarrot {
    width: var(--3sm);
    height: var(--3sm);
}
  
svg.navbarHasColor {
    stroke: var(--gray-06);
    transition: stroke 0.5s ease-in-out;
}

svg.navbarTransparent {
    stroke: var(--white);
    transition: stroke 0.5s ease-in-out;
}