:root {
  --osc-brand-color: #008771;
  --osc-green-01: #DDF9F4;
  --osc-green-05: #004154;
  --osc-green-06: #015143;
  --osc-green-07: #003028;
  --body-text: #1C3A49;
  --gray-01: #EFF7FB;
  --gray-02: #C4DAE3;
  --gray-03: #8AA0AA;
  --gray-04: #586C75;
  --gray-05: #28404B;
  --gray-06: #112E3D;
  --white: #FFFFFF;
  --black: #000;
  --star-size: 1.5em;
  --star-color: #FCBD06;
  --star-background: #C4DAE3;
}

/* TYPEOGRAPHY  */
@font-face {
  font-family: "Petersbug, Regular";
  src:
    url("./fonts/Petersburg/Regular.otf") format("opentype")
}

@font-face {
  font-family: "Apertura, Regular";
  src:
    url("./fonts/Apertura/Regular.otf") format("opentype")
}

body {
  margin: 0;
  font-family: 'Apertura, Regular';
  font-size: 16px;
  line-height: 150%;
  color: var(--body-text);
}

.App {
  background-color: var(--white);
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 4em;
  line-height: 106.25%;
  font-family: 'Petersburg, Regular';
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h2 {
  font-size: 3em;
  line-height: 108.33%;
  font-family: 'Petersburg, Regular';
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 2.25em;
  line-height: 111.11%;
  font-family: 'Petersburg, Regular';
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 1.625em;
  line-height: 120%;
  font-weight: 450;
  font-family: 'Apertura, Regular';
  margin: 0;
}

h5 {
  font-size: 1.25em;
  line-height: 150%;
  font-weight: 450;
  font-family: 'Apertura, Regular';
  letter-spacing: -0.05em;
  margin: 0;
}

h6 {
  font-size: 1em;
  line-height: 150%;
  font-family: 'Apertura, Regular';
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

p.body-text {
  font-family: 'Apertura, Regular';
  font-size: 1.25em;
  line-height: 150%;
}

p.allCaps {
  font-size: 0.875em;
  line-height: 142.857%;
  font-family: 'Apertura, Regular';
  font-weight: 450;
  text-transform: uppercase;
  letter-spacing: 0.0875em;
}

a {
  text-decoration: none;
}

/* a:visited { 
  text-decoration: none; 
 } */

button {
  font-size: 0.9375em;
  line-height: 106.667%;
  font-family: 'Apertura, Regular';
  letter-spacing: 0.046875em;
  text-transform: uppercase;
  font-weight: 450;
  border-radius: 0.125em;
  border: solid 0.0625em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.stars {
  --percent: calc(var(--stars)/5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-color) var(--percent), var(--star-background) var(--percent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}