:root {
  --osc-brand-color: #008771;
  --osc-green-01: #DDF9F4;
  --osc-green-02: #98ECDE;
  --osc-green-03: #19B69C;
  --osc-green-04: #008771;
  --osc-green-05: #004154;
  --osc-green-06: #015143;
  --osc-green-07: #003028;
  --body-text: #1C3A49;
  --secondary-bg: #F0F6F9;
  --gray-01: #EFF7FB;
  --gray-02: #C4DAE3;
  --gray-03: #8AA0AA;
  --gray-04: #586C75;
  --gray-05: #28404B;
  --gray-06: #112E3D;
  --white: #FFFFFF;
  --black: #000;
  --success: #04D2A1;
  --error: #E81F5B;
  --star-size: 24px;
  --star-color: #FCBD06;
  --star-background: #C4DAE3;
  --4sm: 8px;
  --3sm: 16px;
  --2sm: 24px;
  --sm: 32px;
  --4md: 40px;
  --3md: 48px;
  --2md: 56px;
  --md: 64px;
  --4lg: 72px;
  --3lg: 80px;
  --2lg: 88px;
  --lg: 96px;
}

/* TYPEOGRAPHY  */
@font-face {
  font-family: "Petersbug, Regular";
  src:
    url("./fonts/Petersburg/Regular.otf") format("opentype")
}

@font-face {
  font-family: "Apertura, Regular";
  src:
    url("./fonts/Apertura/Regular.otf") format("opentype")
}

body {
  margin: 0;
  font-family: 'Apertura, Regular';
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

/* Large desktop  */
@media (min-width: 1280px) {
  .section {
    padding: var(--lg) 120px;
  }
  p {
    font-size: 20px;
    line-height: 150%;
  }
  p.ratings-block-text {
    max-width: 276px;
  }
  h2 {
    font-size: 48px;
    margin-bottom: var(--2md);
  }
}

/* Small desktop  */
@media (max-width: 1279px) {
  .section {
    padding: var(--lg) 60px;
  }
  p {
    font-size: 20px;
    line-height: 150%;
  }
  p.ratings-block-text {
    max-width: 276px;
  }
  h2 {
    font-size: 48px;
    margin-bottom: var(--2md);
  }
}

/* Tablet  */
@media (max-width: 1023px) {
  .section {
    padding: var(--2md) var(--sm);
  }
  p {
    font-size: 18px;
    line-height: 150%;
  }
  p.ratings-block-text {
    max-width: 500px;
  }
  h2 {
    font-size: 36px;
    margin-bottom: var(--2md);
  }
}

/* Mobile  */
@media (max-width: 600px) {
  .section {
    padding: var(--3md) 20px;
  }
  p {
    font-size: 16px;
    line-height: 150%;
  }
  p.ratings-block-text {
    max-width: 287px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: var(--4md);
  }
  button {
    width: 100%;
  }
}

.App {
  background-color: var(--white);
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 64px;
  line-height: 106.25%;
  font-family: 'Petersburg, Regular';
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h2 {
  line-height: 108.33%;
  font-family: 'Petersburg, Regular';
  font-style: normal;
  font-weight: 400;
  /* margin: 0; */
}

h3 {
  font-size: 36px;
  line-height: 111.11%;
  font-family: 'Petersburg, Regular';
  font-weight: 400;
  margin: 0;
}

h4 {
  font-size: 26px;
  line-height: 120%;
  font-weight: 450;
  font-family: 'Apertura, Regular';
  margin: 0;
}

h5 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 450;
  font-family: 'Apertura, Regular';
  letter-spacing: -0.05em;
  margin: 0;
}

h6 {
  font-size: 16px;
  line-height: 150%;
  font-family: 'Apertura, Regular';
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Apertura, Regular';
}

/* p.bodyText {
  font-family: 'Apertura, Regular';
  font-size: 20px;
  line-height: 150%;
  color: var(--body-text);
} */

p.bodyText a {
  font-family: 'Apertura, Regular';
  font-size: 20px;
  line-height: 150%;
}

p.allCaps {
  font-size: 0.875em;
  line-height: 142.857%;
  font-family: 'Apertura, Regular';
  font-weight: 450;
  text-transform: uppercase;
  letter-spacing: 0.0875em;
}

a {
  text-decoration: none;
}

/* a:visited { 
  text-decoration: none; 
 } */

button {
  font-size: 0.9375em;
  line-height: 106.667%;
  font-family: 'Apertura, Regular';
  letter-spacing: 0.046875em;
  text-transform: uppercase;
  font-weight: 450;
  border-radius: 0.125em;
  border: solid 0.0625em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

button.green {
  background-color: var(--osc-brand-color);
  border-color: var(--osc-brand-color);
  color: var(--white);
}

button.white {
  background-color: var(--white);
  border-color: var(--gray-06);
  color: var(--gray-06);
}

button.transparent {
  background-color: transparent;
  color: var(--osc-brand-color);
  border-color: transparent;
  text-wrap: nowrap;
}

.stars {
  --percent: calc(var(--stars)/5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-color) var(--percent), var(--star-background) var(--percent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}